{erl_opts, [debug_info]}.
{deps, [
        {erlcloud, {git, "https://github.com/erlcloud/erlcloud.git"}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "2.9.0"}}},
        {lhttpc, ".*", {git, "git://github.com/erlcloud/lhttpc", {tag, "1.6.2"}}},
        {eini, ".*", {git, "https://github.com/erlcloud/eini.git", {tag, "1.2.6"}}},
		{jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "1.0.3"}}},
        {base16, ".*", {git, "https://github.com/goj/base16.git", {tag, "1.0.0"}}}
]}.

{relx, [{release, {validate_receipt, "0.0.1"},
         [validate_receipt]},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}
       ]
}.

{profiles, [
    {prod, [{relx, [{dev_mode, false},
                    {include_erts, true}]}
     ]}
]}.
